@model FoodResult

@{
    if (Model.IsSelected)
    {
        <h1
            id="result"
            class="bg-green-400 border rounded p-2 text-center text-white w-80 mx-auto"
        >You ❤ @Model.Food</h1>
    }
    else
    {
        <h1
            id="result"
            class="bg-red-400 border rounded p-2 text-center text-white w-80 mx-auto"
        >Waiting for food selection</h1>
    }
}
