@page "/Examples/Counter"
@model Counter

<div class="">
    <h1 class="text-center text-lg mb-4">Counter</h1>
    <p>Next we're going to do some state management with a simple incrementing counter.</p>

    <div class="drop-shadow-lg rounded-lg m-6 p-2 flex flex-row justify-between">
        <button
            class="px-4 rounded bg-purple-800 text-slate-300 hover:bg-purple-600"
            hx-post
            hx-target="#target"
        >
            Increment
        </button>

        <h2 class="text-center font-light p-2 text-4xl" id="target">0</h2>
    </div>
</div>